.container{
    display: flex;
    grid-template-columns: 1fr 1fr;
   
}

.box1{


    height: 1000px;
}

.box2{
    display: flex;
    justify-content: center;
    height: 1000px;
}


img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


pre{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

a{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aqua;
}

